<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Aluno, Curso e Professor</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="container">
    <h1>Formulário de Cadastro</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <fieldset>
            <legend>Dados do Aluno</legend>
            
            <label for="id_aluno">ID do Aluno:</label>
            <input type="number" name="id_aluno" id="id_aluno" required>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>

            <label for="numero">Número:</label>
            <input type="text" name="numero" id="numero" required>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>

            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" maxlength="11" required>

            <label for="cidade">Cidade:</label>
            <input type="text" name="cidade" id="cidade" required>
        </fieldset>

        <fieldset>
            <legend>Dados do Curso</legend>

            <label for="id_curso">ID do Curso:</label>
            <input type="number" name="id_curso" id="id_curso" required>

            <label for="nome_curso">Nome do Curso:</label>
            <input type="text" name="nome_curso" id="nome_curso" required>
        </fieldset>

        <fieldset>
            <legend>Dados do Professor</legend>

            <label for="id_professor">ID do Professor:</label>
            <input type="number" name="id_professor" id="id_professor" required>

            <label for="nome_professor">Nome:</label>
            <input type="text" name="nome_professor" id="nome_professor" required>

            <label for="cpf_professor">CPF:</label>
            <input type="text" name="cpf_professor" id="cpf_professor" maxlength="11" required>

            <label for="numero_professor">Número:</label>
            <input type="text" name="numero_professor" id="numero_professor" required>

            <label for="email_professor">Email:</label>
            <input type="email" name="email_professor" id="email_professor" required>

            <label for="cidade_professor">Cidade:</label>
            <input type="text" name="cidade_professor" id="cidade_professor" required>
        </fieldset>

        <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
